@import "tailwindcss";

@theme {
  --font-primary: "Fredoka", "sans-serif";
  --font-secondary: "Nunito", "sans-serif";
  --color-orang: #ec955b;
  --color-dark: #4c240c;
}
html {
  position: relative;
  min-height: 100%;
}
